# exclude core
!core

# github
.git
.gitattributes
.gitignore
.github
.release-please*
*.backup

# python
*.pyc

# directories
app-engine/
build/
coverage/
demo/
docs/

# tests
test/
karma.conf.js

# dist
dist/demo.*
dist/receiver.*

# markdown
*.md
!README.md
