.shaka-ui-icon {
  display: inline-block;
  fill: currentcolor;
  mask-position: left top;
  mask-repeat: no-repeat;
  mask-size: 1em 1em;
  width: 1em;
  height: 1em;
}

/* The number of seconds drawn inside the seek_backward/seek_forward icons. */
.shaka-seek-button-distance {
  font-weight: 500;
  user-select: none;
}
