#shaka-player-ui-thumbnail-container {
  background-color: black;
  border: 1px solid black;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 50%);
  min-width: 150px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 15%;
  z-index: 1;

  #shaka-player-ui-thumbnail-image {
    position: absolute;
  }

  #shaka-player-ui-thumbnail-time {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    color: white;
    font-size: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
}
