#shaka-player-ui-thumbnail-container {
  bottom: 15px;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  z-index: 1;

  // Position of child elements
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  #shaka-player-ui-thumbnail-image-container {
    background-color: @general-background-color-opaque;
    border: 1px solid @general-background-color-opaque;
    box-shadow: 0 8px 8px 0 @general-background-color;
    min-width: 150px;
    overflow: hidden;
    position: relative;
    width: 15%;

    #shaka-player-ui-thumbnail-image {
      position: absolute;
    }

    &.portrait-thumbnail {
      min-width: 75px;
      width: 7.5%;
    }
  }

  #shaka-player-ui-thumbnail-time-container {
    display: flex;
    justify-content: center;

    #shaka-player-ui-thumbnail-time {
      background-color: @general-background-color;
      border-radius: @general-font-size;
      color: @general-font-color;
      font-size: @general-font-size;
      padding: 0 5px;

      @media (prefers-reduced-transparency) {
        background-color: @general-background-color-mostly-opaque;
      }
    }
  }
}
