name: Build and Test

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - v[0-9]*
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref to build and test."
        required: false
  schedule:
    - cron: '0 8 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || inputs.ref }}
  cancel-in-progress: true

jobs:
  docker_job:
    name: Run Docker Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}
          persist-credentials: false

      - name: Build Docker Image
        run: docker build . -t myimage:latest

      - name: Run Docker Container
        run: docker run --rm myimage:latest
