name: Build and Test

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
      - v[0-9]*
  workflow_dispatch:
    inputs:
      ref:
        description: "The ref to build and test."
        required: false
  schedule:
    - cron: "0 8 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || inputs.ref }}
  cancel-in-progress: true

jobs:
  docker_job:
    name: Run Docker Build
    runs-on: ubuntu-latest

    steps:
      #
      # FORK-SAFE CHECKOUT
      #
      - name: Checkout correct source
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
          ref: ${{ github.event.pull_request.head.sha || inputs.ref || github.ref }}
          persist-credentials: false
          fetch-depth: 1

      - name: Debug directory tree
        run: ls -R .

      #
      # Build
      #
      - name: Build Docker Image
        run: docker build . -t myimage:latest

      #
      # Test
      #
      - name: Run Docker Container
        run: docker run --rm myimage:latest
