name: Report Bundle Size

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  bundle-size:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false
          path: head-source

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 21

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3 jq gzip ffmpeg wget

      - name: Download latest release
        env:
          GITHUB_TOKEN: ${{ secrets.SHAKA_BOT_TOKEN }}
        run: |
          RELEASE_URL=$(gh api /repos/${{ github.repository }}/releases/latest | jq ".assets.[0].browser_download_url")
          echo "RELEASE_URL: $RELEASE_URL"
          wget -O latest_release.tgz ${RELEASE_URL}
          tar -xvf latest_release.tgz
          pwd
          ls -lh
        
      - name: Measure latest release
        run: |
          python3 head-source/.github/workflows/compute-bundle-size.py measure \
              --dir package/dist \
              --out base-sizes.json

      - name: Build head source
        working-directory: head-source
        run: python3 build/all.py
      
      - name: Measure head bundles
        working-directory: head-source
        run: |
          python3 .github/workflows/compute-bundle-size.py measure \
              --dir dist \
              --out ../head-sizes.json

      - name: Add or Update PR Comment
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.SHAKA_BOT_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          COMMENT_INCLUDES: "Bundle Size Report"
          COMMENT_USER: "shaka-bot"
        run: |
          MESSAGE=$(python3 .github/workflows/compute-bundle-size.py compare --head head_json.json --base base_json.json)
          echo "$MESSAGE"

          # Find existing bot comment
          jq_filter=".[] | select((.user.login == \"$COMMENT_USER\") and (.body | startswith(\"$COMMENT_INCLUDES\"))) | .id"

          gh api \
            /repos/${{ github.repository }}/issues/$PR_NUMBER/comments \
            | jq "$jq_filter" > old-comment-id

          if [[ -z "$(cat old-comment-id)" ]]; then
            echo "Creating new bundle size comment"
            gh api \
              --method POST \
              /repos/${{ github.repository }}/issues/$PR_NUMBER/comments \
              -f "body=$MESSAGE"
          else
            echo "Updating existing bundle size comment"
            gh api \
              --method PATCH \
              /repos/${{ github.repository }}/issues/comments/$(cat old-comment-id) \
              -f "body=$MESSAGE"
          fi
